nav ul{
    list-style-type: none;
}

nav ul li{
    float: left;
    width: 25%;
    text-align: center;
    position: relative;
}

nav ul::after{
    content: "";
    display: table;
    clear: both;
}

nav b{
    display: block;
    text-decoration: none;
    color: black;
    padding: 10px 0px;
}

nav b:hover{
    color: orange;
    border-bottom: 2px solid gold;
}

.under{
    display: none;
    box-shadow: 0px 1px 2px #CCC;
    background-color: white;
    position: absolute;
    width: 100%;
    z-index: 1000;
}

nav > ul li:hover .under{
    display: block;
}

.under li{
    float: none;
    width: 100%;
    text-align: left;
}

.under b{
    padding: 10px;
    border-bottom: none;

}

.under b:hover{
    border-bottom: none;
}

.roll > b::after{
    content:" ▼";
    font-size: 12px;
}

nav ul li{
    float: left;
    width: 25%;
    text-align: center;
    position: relative;
}

.selection_menu{
    display: flex;
    background-color: #99CC33;
    padding-top: 5px;
    padding-bottom: 5px;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.access_project_button{
    border : 2px solid #00B8DE;
    height: 125px;
    width : 20%;
    margin: 15px;
}

h2 {
    color : #00B8DE;
    margin: 10px;
}

h6 {
    margin : 20px;
}