nav ul {
    list-style-type: none;
}

.all-boards li {
    float: left;
    width: 25%;
    text-align: center;
    position: relative;
}

.all-boards nav ul::after {
    content: "";
    display: table;
    clear: both;
}

.all-boards nav a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 10px 0px;
}

.template_choice:hover {
    color: orange;
    border-bottom: 2px solid gold;
}

.under {
    display: none;
    box-shadow: 0px 1px 2px #CCC;
    background-color: white;
    position: absolute;
    width: 100%;
    z-index: 1000;
}

.all-boards nav > ul li:hover .under {
    display: block;
}

.under li {
    float: none;
    width: 100%;
    text-align: left;
}

.under a {
    padding: 10px;
    border-bottom: none;

}

.under a:hover {
    border-bottom: none;
}

.roll {
    border: 1px solid black;
}

.roll > a::after {
    content: " ▼";
    font-size: 12px;
}


.selection_menu {
    display: flex;
    background-color: #99CC33;
    padding-top: 5px;
    padding-bottom: 5px;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.access_project_button {
    border: 2px solid #00B8DE;
    height: 125px;
    width: 20%;
    margin: 15px;
}

.all-boards h2 {
    color: #00B8DE;
    margin: 10px;
}

.all-boards h6 {
    margin: 20px;
}

.access_project_button {
    display: block;
    width: 20%;
    text-align: left;
    background-color: white;
    border: 2px solid #00B8DE;
    overflow: hidden;
    height: 125px;
    cursor: pointer;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 8px;
    margin: 15px;
}

.card {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: start;
    background-color: white;
    border: 1px white;
    box-shadow: none;
    overflow: hidden;
}

.card_header {
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
    margin-bottom: 15px;
    word-wrap: break-word;
    border-bottom: 2px solid black;
}

.card_body {
    font-size: 1em;
    color: #666;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
