/* styles.css */
body, h1, p, ul {
    margin: 0;
    padding: 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    background-color: #f3f3f3;
    padding: 10px 0;
}

nav a {
    text-decoration: none;
    color: #333;
}

.signup-button {
    color: #fff;
    background-color: #22ae60;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

.page_title {
    text-align: center;
    padding: 50px 20px;
    background-image: url('/static/img/logo.jpg');
    background-size: cover; /* Ceci s'assure que l'image de fond couvre toute la zone disponible */
    background-position: center; /* Ceci centre l'image de fond */
    background-repeat: no-repeat; /* Ceci empêche l'image de fond de se répéter */
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
