/* styles.css */
body, h1, p, ul {
    margin: 0;
    padding: 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    background-color: #f3f3f3;
    padding: 10px 0;
}

nav a {
    text-decoration: none;
    color: #333;
}

.signup-button {
    color: #fff;
    background-color: #99CC33;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

.page_title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0px;
    gap: 20px;
    background-image: url('/static/img/logo_site_page.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.page_title h1 {
    color : white;
    font-size: 2.5em;
    margin-bottom: 0.5em;
    max-width: 38%;
    width: 100%;
}

.page_title p {
    color : white;
    font-size: 1.15em;
    margin-bottom: 1em;
    max-width: 38%;
    width: 100%;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

#big_page_title{

}
