.logo {
    width: 300px;
}

.cont_authentification {
            height: 100vh;
            display: flex;
            justify-content: center;
            margin: 1%;
        }

#authentification {
        width : 50%;
        }

.center_sign{
    display: flex;
    justify-content: center;
}
