#task {
    background: white;
    border-radius: 16px;
    border: 2px solid black;
}

.task__header {
    border-bottom: 2px solid black;
    background: #99CC33;
    overflow: hidden;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.task__title {
    display: flex;
    text-overflow: clip;
}

.description {
    border-bottom: 2px solid black;
}

.task__description {
    overflow-wrap: break-word;
}

.working-team {
    background: #00B8DE;
    overflow: hidden;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
}

#user-image {
    background: #00B8DE;
    display: flex;
    list-style-type: none;
}

.small-image {
  border: 1px white;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  object-fit: cover;
}
.categories-container {
    display: flex;
    overflow-x: auto;

}

.category{
    background-color: #333333;
    border-radius : 5%;
    padding: 1%;
    margin:1%;
    width: 20%;
    max-height: 85vh;

}

.category-title{
    color:white;
}

.category-content{
    overflow-y: auto;
    flex-shrink: 0;
    max-height: 88%;
}

.category-add{
    color:white;
    margin-top:3%;
}



