html,body{
    height:100%;
    margin:0;
    display: flex;
    flex-flow: column;
}

.task {
    background: white;
    border-radius: 16px;
    border: 2px solid black;
}

.task__header {
    border-bottom: 1px solid black;
    background: #99CC33;
    overflow: hidden;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.task__title {
    display: flex;
    text-overflow: clip;
}

.description {
    margin-left:0.5cm;
}

.task__description {
    overflow-wrap: break-word;
}

.working-team {
    background: #00B8DE;
    overflow: hidden;
    border-top: 1px solid black;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
}

#user-image {
    background: #00B8DE;
    display: flex;
    list-style-type: none;
}

.small-image {
  border: 1px white;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  object-fit: cover;
}

.categories-container {
    display: flex;
    height: calc(100vh - 1.5cm);
    overflow-x: auto;
    padding-left: 1%;
    padding-bottom: 0.5%;

}

.category{
    background-color: #333333;
    border-radius : 20px;
    margin:0.5%;
    padding:1% ;
    width: 8cm;
    height:auto;
    flex-shrink: 0;
    display:flex;
    flex-flow: column;

}

.container-title-description-category{
    margin-right:1.3cm;
    overflow: hidden;
}

.category-title{
    color:white;
    font-weight: bold;

}

.category-content{
    overflow-y: auto;
    max-height: 85%;

}

.task-add{
    color:white;
    flex: 0 1 40px;
    margin-top: 2%;
}

.add-container{
    margin:0.5%;
    padding:1% ;
    width: 23%;
    flex-shrink: 0;


}

.category-add{
    width:100%;

}

.board-title{
    position:relative;
    padding-left: 7%;
    background-color: lightgrey;
    height:1cm;
}
#board_name{
    font-weight:bold;
    margin-right: 1cm;
}

.description{
    font-size:small;
    font-weight:normal;
}

.description-title{
    font-size:small;
    font-weight:normal;
    color:white;
}

.head-category{
    position:relative
}
.drop-right{
    position:absolute;
    top:0;
    right:0;



}

.progress-container{
    margin:1%;
}

.expire_container{
    margin:1%;
}

.late{
    color:red
}

.time_ok{
    color:green;
}

