{% include 'components/header.html.jinja2' %}

<link rel="stylesheet" href="{{ url_for("static", filename="css/home_page.css") }}"/>
<div class="all boards">
    <div class="creating a project">
        <h2>Create a new project</h2>
        <div class="find_menu">
            <h6>Buy some time with a Trell-IMT template</h6>
            <div class="find">
                <nav>
                    <ul>
                        <li class="roll"><a href="#">Find a template</a>
                            <ul class="under">
                                {% for category_name in categories.keys() %}
                                <li><a class="template_choice" href="/new_project?template={{ category_name }}">{{ category_name }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="access my projects">
            <h2>Access to an existing project</h2>
            <div class="find_menu">
                <h6>Continue a recent project or find another one</h6>
            </div>
            <div class="selection_menu">
                {% for board in boards %}
                    <button onclick="window.location.href='/board/{{ board.id }}'"
                            class="access_project_button col-xl-3 col-sm-6 col-12">
                        <div class="card">
                            <div class="card_header">
                                {{ board.name }}
                            </div>
                            <div class="card_body">
                                {% if board.description %}
                                    {{ board.description }}
                                {% endif %}
                            </div>
                        </div>
                    </button>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
</body>
</html>