{% include 'header.html.jinja2' %}

<div class="categories-container">
<div class="category">
{% include 'task.html.jinja2' %}
{% include 'task.html.jinja2' %}
{% include 'task.html.jinja2' %}
{% include 'task.html.jinja2' %}
{% include 'task.html.jinja2' %}
</div>

    <div class="category">
{% include 'task.html.jinja2' %}
{% include 'task.html.jinja2' %}
{% include 'task.html.jinja2' %}
{% include 'task.html.jinja2' %}
{% include 'task.html.jinja2' %}
</div>

    </div>
