{% include 'components/header.html.jinja2' %}
{% include 'components/task_form.html.jinja2' %}
{% with board_id=board.id %}
    {% include "components/add_category.html.jinja2" %}
{% endwith %}

<div id="board" data-id= {{ board.id }}>
    <div class="board-title">
        Board <span id="board_name">{{ board.name }}</span>
        {% if board.description %}
            <span class="description">{{ board.description }}</span>
        {% endif %}
    <div class="dropdown drop-right">
                        <button class="btn btn-outline- dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                            Actions
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" >Edit board</a></li>
                            <li><a class="dropdown-item">Delete board</a></li>

                        </ul>
                    </div>
    </div>
    <div class="categories-container">

        {% for category in tasks_data %}

            <div class="category ">
                <div class="head-category">
                    <p><span class="category-title">{{ category.name }}</span>
                        {% if category.description %}
                            <span class="description-title">{{ category.description }}</span>
                        {% endif %}
                    </p>
                    <div class="dropdown drop-right">
                        <button class="btn btn-outline-light dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                            Actions
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item new_task" data-category_id={{ category.id }}>Add task</a></li>
                            <li><a class="dropdown-item">Edit category</a></li>
                            <form action="/delete_category?category_id={{ category.id }}" method="POST">
                                <li><a class="dropdown-item"><button type="submit" name="delete" value="Delete">Delete category</button></a></li>
                            </form>
                        </ul>
                    </div>
                </div>
                <div class="category-content">
                    {% for task in category.tasks %}
                        <div class="task" id="{{ task.id }}">
                            {% with title=task.name, description=task.description %}
                                {% include "components/task.html.jinja2" %}
                            {% endwith %}
                        </div>
                    {% endfor %}
                </div>
                <div>
                    <button class="task-add btn btn-outline-light new_task" data-category_id= {{ category.id }}> + Add a
                        task
                    </button>
                </div>
            </div>

        {% endfor %}
        <div class="add-container">
            <button class="category-add btn btn-outline-secondary new_category"> + Add a category</button>
        </div>
    </div>
</div>