{% include 'components/header.html.jinja2' %}
{% include 'components/task_form.html.jinja2' %}
{% with board_id=board.id %}
    {% include "components/add_category.html.jinja2" %}
{% endwith %}

<div id="board" data-id= {{ board.id }}>
    <div class="board-title">
    Board <span id="board_name">{{ board.name }}</span>
    {% if board.description %}
        <span id="board_description">{{ board.description }}</span>
        {% endif %}
    </div>
    <div class="categories-container">

        {% for category in tasks_data %}

            <div class="category ">
                <p class="category-title"> {{ category.name }} </p>
                <div class="category-content">
                    {% for task in category.tasks %}
                        <div class="task" id="{{ task.id }}">
                            {% with title=task.name, description=task.description %}
                                {% include "components/task.html.jinja2" %}
                            {% endwith %}
                        </div>
                    {% endfor %}
                </div>
                <div>
                    <button class="task-add btn btn-outline-light new_task" data-category_id= {{ category.id }}> + Add a
                        task
                    </button>
                </div>
            </div>

        {% endfor %}
        <div class="add-container">
            <button class="category-add btn btn-outline-secondary new_category"> + Add a category</button>
        </div>
    </div>
</div>