{% include 'header.html.jinja2' %}

<div class="categories-container">

<div class="category">
 <p class="category-title"> Titre de la catégorie </p>
    <div class="category-content">
{% include 'task.html.jinja2' %}
{% include 'task.html.jinja2' %}
{% include 'task.html.jinja2' %}
{% include 'task.html.jinja2' %}
{% include 'task.html.jinja2' %}
    {% include 'task.html.jinja2' %}
{% include 'task.html.jinja2' %}
{% include 'task.html.jinja2' %}
{% include 'task.html.jinja2' %}
{% include 'task.html.jinja2' %}
    {% include 'task.html.jinja2' %}
{% include 'task.html.jinja2' %}
{% include 'task.html.jinja2' %}
{% include 'task.html.jinja2' %}
{% include 'task.html.jinja2' %}
</div>
    <div>
    <button  class="category-add btn btn-outline-light"> + Add a task </button>
        </div>
    </div>


    <div class="category">
       <p class="category-title"> Titre de la catégorie </p>
         <div class="category-content">
{% include 'task.html.jinja2' %}
{% include 'task.html.jinja2' %}
             {% include 'task.html.jinja2' %}
{% include 'task.html.jinja2' %}
{% include 'task.html.jinja2' %}
{% include 'task.html.jinja2' %}
{% include 'task.html.jinja2' %}
    {% include 'task.html.jinja2' %}
{% include 'task.html.jinja2' %}
{% include 'task.html.jinja2' %}
{% include 'task.html.jinja2' %}

</div>
        <button  class="category-add btn btn-outline-light"> + Add a task </button>
        </div>

    <div class="category">
   <p class="category-title"> Titre de la catégorie </p>
         <div class="category-content">
{% include 'task.html.jinja2' %}
{% include 'task.html.jinja2' %}
{% include 'task.html.jinja2' %}
{% include 'task.html.jinja2' %}
{% include 'task.html.jinja2' %}

</div>
         <button  class="category-add btn btn-outline-light"> + Add a task </button>
        </div>

    <div class="category">
       <p class="category-title"> Titre de la catégorie </p>
         <div class="category-content">
{% include 'task.html.jinja2' %}
{% include 'task.html.jinja2' %}
{% include 'task.html.jinja2' %}
{% include 'task.html.jinja2' %}
{% include 'task.html.jinja2' %}
</div>
   </div>


    </div>
