{% include 'components/header.html.jinja2' %}
<section>
    <p>Welcome to the contact page of Trell'IMT, your tool dedicated to project organization designed with passion
        by three students from IMT Atlantique. Trell'IMT aims to simplify your project management through an
        intuitive interface and custom features suited to your needs. Our commitment is to provide you with an
        effective solution that supports your projects from start to finish.</p>
</section>

<section>
    <h2>Our Founders</h2>
    <div>
        <h3>Antoine Cheucle</h3>
        <p>A computer science student at IMT Atlantique, Antoine is passionate about developing innovative web solutions.
            He is the brain behind the technical architecture of Trell'IMT.</p>
        <p>📧 <a href="mailto:antoine.cheucle@imt-atlantique.net">antoine.cheucle@imt-atlantique.net</a></p>
    </div>
    <div>
        <h3>Emmanuelle Sojka</h3>
        <p>A specialist in user interface design, Emmanuelle ensures that the user experience of Trell'IMT
            is both enjoyable and functional.</p>
        <p>📧 <a href="mailto:emmanuelle.sojka@imt-atlantique.net">emmanuelle.sojka@imt-atlantique.net</a></p>
    </div>
    <div>
        <h3>Nathan Claeys</h3>
        <p>An expert in project management, Nathan has designed the methodology of Trell'IMT to optimize the monitoring and
            realization of your projects.</p>
        <p>📧 <a href="mailto:nathan.claeys@imt-atlantique.net">nathan.claeys@imt-atlantique.net</a></p>
    </div>
</section>

<section>
    <h2>Contact Us</h2>
    <p>For any questions, suggestions, or support requests, do not hesitate to contact us. We are here to help you
        get the most out of Trell'IMT and to ensure the success of your projects efficiently.</p>
    <ul>
        <li>Technical Support: <a href="mailto:support@trellimt.net">support@trellimt.net</a></li>
        <li>Suggestions and Feedback: <a href="mailto:feedback@trellimt.net">feedback@trellimt.net</a></li>
        <li>Partnerships and Media: <a href="mailto:media@trellimt.net">media@trellimt.net</a></li>
    </ul>
</section>

<section>
    <h2>Follow Us</h2>
    <p>Stay connected with Trell'IMT and don't miss any updates or new features:</p>
    <p>Twitter: <a href="https://twitter.com/TrellIMT">@TrellIMT</a></p>
    <p>LinkedIn: <a href="https://www.linkedin.com/company/trellimt">Trell'IMT</a></p>
</section>

<footer>
    <p>We thank you for your trust and look forward to supporting you in the success of your
        projects.</p>
    <p>The Trell'IMT team.</p>
</footer>

