{% include 'components/header.html.jinja2' %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}"/>
<div class="success">
    <i class="bi bi-check-circle icon-green-large"></i>
    <h1>Success !</h1>
    <p> You have created a project successfully.</p>
    <p> Now you can start working!.</p>

    <div>
        <a href="/board/{{ board_id }}" class="btn btn-success"> Continue </a>
    </div>
</div>

</body>
</html>