<!--Template used to avoid redundancy with log in and sign up -->

{% include 'components/super_header.html.jinja2' %}
<link rel="stylesheet" href="{{ url_for("static", filename="css/auth.css") }}">

<div class="cont_authentification">
    <div id="authentification">
        <div class="row justify-content-center">
            <img alt="IMT Atlantique logo" class="logo" src="{{ url_for("static", filename="img/logo.jpg") }}"/>
        </div>
        {% block body %}
        {% endblock %}
    </div>
</div>
</body>
</html>