{% include 'components/header.html.jinja2' %}
<script src="../static/js/create_project.js"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/project_creator.css') }}"/>
<div class="container">
    <form action="{{ url_for('new_project_form') }}" method="post" class="project-form">
        <div class="form-header">
            <h1>Create a New Project</h1>
        </div>
        {% if errors %}
            <div class="error-container">
                The following errors prevent us from accessing your request:
                <ul>
                    {% for error in errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        <div class="form-section">
            <label for="project_name">Project Name</label>
            <input type="text" id="project_name" name="project_name" placeholder="Enter project name"
                   value="{{ form.project_name }}" required>
        </div>
        <div class="form-section">
            <h3>Add a Description</h3>
            <textarea rows="6" name="description" id="description" placeholder="Describe your project"></textarea>
        </div>
        <div class="form-section">
            <h3>Add Categories</h3>
            <h7>Enter the name and clic "add a category" to add a new category at the beginning of your project. Categories name will appear below.</h7>
            <div class="categories" id="categories">
                {% for category in template_list_category %}
                    <div class="category">{{ category }} <span class="remove-category">X</span></div>
                {% endfor %}
            </div>
            <div class="add-category">
                <input type="text" id="category_name" class="form-name_category" name="category_name"
                       placeholder="Category name">
                <button type="button" class="category-add btn">+ Add a Category</button>
            </div>
        </div>
        <input type="hidden" name="category_list" id="category_list" value="">
        <div class="form-section">
            <h3>Add Collaborators</h3>
            <!-- Collaborators input section would go here -->
        </div>
        <div class="form-footer">
            <a href="{{ url_for('home_view') }}" class="btn cancel">Cancel</a>
            <button type="submit" class="btn create">Create Project</button>
        </div>
    </form>
</div>
</body>
</html>
