{% include 'components/header.html.jinja2' %}

<div class="success">
    <i class="bi bi-check-circle icon-green-large"></i>
    <h1>Success !</h1>
    <p> You have sign up an account successfully.</p>
    <p> Now you can start with Trell'Imt.</p>

    <div>
        <a href="{{ url_for("sign_in_view") }}" class="btn btn-success"> Continue and sign in </a>
    </div>
</div>


</body>
</html>