{% extends "log.html.jinja2" %}
{% set title = "Sign Up" %}
{% block body %}
    <div class="row mb-4">
        <div class="col-12 center_sign">
            <h1>Sign up</h1>
        </div>
    </div>

    {% if errors %}
        <div class="error-container">
            The following errors prevent us from accessing your request :
            <ul>
                {% for error in errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <form action="{{ url_for("sign_up_view") }}" method="post">
        <div class="row mb-4">
            <label class="col-4 col-for-label">First Name</label>
            <div class="col-8">
                <input type="text" class="form-control" name="first_name" placeholder="first name"
                       value="{{ form.first_name }}" required>
            </div>
        </div>

        <div class="row mb-4">
            <label class="col-4 col-for-label">Last Name</label>
            <div class="col-8">
                <input type="text" class="form-control" name="last_name" placeholder="last name"
                       value="{{ form.last_name }}" required>
            </div>
        </div>

        <div class="row mb-4">
            <label class="col-4 col-for-label">Email</label>
            <div class="col-8">
                <input type="email" class="form-control" name="email" placeholder="email" value="{{ form.email }}"
                       required>
            </div>
        </div>

        <div class="row mb-4">
            <label class="col-4 col-for-label">Password</label>
            <div class="col-8">
                <input type="password" class="form-control" name="password" placeholder="password" required>
            </div>
        </div>

        <div class="row mb-4">
            <label class="col-4 col-for-label">Confirm password</label>
            <div class="col-8">
                <input type="password" class="form-control" name="confirmpassword" placeholder="confirm password"
                       required>
            </div>
        </div>

        <div class="row mb-4">
            <label class="col-4 col-for-label">User Type</label>
            <div class="col-8">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="user_type" id="developer" checked
                           value="Developer">
                    <label class="form-check-label" for="developer">
                        Developer
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="user_type" id="project_manager"
                           value="ProjectManager">
                    <label class="form-check-label" for="project_manager">
                        Project Manager
                    </label>
                </div>
            </div>
        </div>
        <a href="{{ url_for("sign_in_view") }}"> If you have already an account, sign in here </a>
        <div class="row mb-4 justify-content-end">
            <div class="col-3">
                <button type="submit" class="btn btn-primary "> Sign up</button>
            </div>
        </div>
    </form>


{% endblock %}