<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trell'IMT first page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/site_page.css') }}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/how-it-works">How It Works</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/home">Access your personal space</a></li>
                <li><a href="/sign_up" class="signup-button">Sign Up for Free</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="page_title">
            <h1>A new tool for your projects !!!</h1>
            <p>When you're on a hard task, you need to organise. That's why Trell'IMT is the right tool for you.</p>
            <a href="/sign_up" class="signup-button">Sign Up for Free</a>
        </div>
    </main>
</body>
</html>
