<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trell'IMT first page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/site_page.css') }}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/how-it-works">How It Works</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/sign_in">Sign In</a></li>
                <li><a href="/sign_up" class="signup-button">Sign Up Free</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="page_title">
            <h1>It's all coming together</h1>
            <p>When you're on top of your money, life is good. We help you effortlessly manage your finances in one place.</p>
            <a href="/sign_up" class="signup-button">Sign Up Free</a>
        </section>
    </main>
</body>
</html>
