<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">

    <title> Task </title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for("static", filename="css/style.css") }}"/>
</head>

<body>
    <div id = "task", class="col-xl-3 col-sm-6 col-12">
        <div class="task__header">
            <h1 class="task__title">{{ title }}</h1>
        </div>
        <div class="description">
            <h5>Description</h5>
            <p class="task__description">{{ description }}</p>
        </div>
          <ul id = "user-image">
            {% for user in users %}
              <li><img src="{{ user }}" alt="Description de l'image 1" class="small-image"></li>
            {% endfor %}
          </ul>
    </div>
</body>