
<div class="messagepop" id="board_popup">
    <h5 id="board-form-label"> Edit board </h5>
    <form method="post" id="edit_board" action="/edit_board?board_id={{ board_id }}">
        <div><i class="bi bi-card-checklist"></i> <label for="board_form_title"> Board title </label><input class="form-control"
                                                                                                    type="text"
                                                                                                    size="30"
                                                                                                    name="title"
                                                                                                    id="board_form_title"
                                                                                                    required/></div>
        <div><i class="bi bi-file-earmark-richtext"></i> <label for="board_form_description"> Description </label><textarea
                class="form-control" rows="6" name="description" id="board_form_description" cols="35"></textarea></div>
        <div class="link"><a class="close_board_form btn btn-outline-danger" href="/">Cancel</a><input type="submit"
                                                                                                          class="btn btn-outline-success button-right"
                                                                                                          value="Edit board"
                                                                                                          name="commit"
                                                                                                          id="board_form_submit"/>
        </div>
    </form>
</div>
