

<div class="messagepop" id="category_popup">
    <h5 id="category-form-label"> Add category to board</h5>
    <form method="post" id="new_category" action="">
        <div><i class="bi bi-card-checklist"></i> <label for="category_form_title"> Category title </label><input class="form-control"
                                                                                                    type="text"
                                                                                                    size="30"
                                                                                                    name="title"
                                                                                                    id="category_form_title"
                                                                                                    required/></div>
        <div><i class="bi bi-file-earmark-richtext"></i> <label for="category_form_description"> Description </label><textarea
                class="form-control" rows="6" name="description" id="category_form_description" cols="35"></textarea></div>
        <div class="link"><a class="close_category_form btn btn-outline-danger" href="/">Cancel</a><input type="submit"
                                                                                                          class="btn btn-outline-success button-right"
                                                                                                          value="Add task"
                                                                                                          name="commit"
                                                                                                          id="category_form_submit"/>
        </div>
    </form>
</div>
