{% include 'components/super_header.html.jinja2' %}
<script src="{{ url_for("static", filename="js/notification.js") }}"></script>

<header class="site-header">
    <a href="/"><img src="{{ url_for("static", filename="img/logo.jpg") }}" alt="Logo du site" class="logo-site"></a>
    <nav class="navigation-site">
        <ul>
            <li><a href="/home">Home</a></li>
            {% if user.type.name == "ProjectManager" %}
                <li><a href="/new_project">New board</a></li>
                <li><a href="/board_developer">Developer view</a></li>
            {% endif %}
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>


    <div class="accordion-item">
        <h2 class="accordion-header">
            <button id="notification_button" class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseTwo-header" aria-expanded="false" aria-controls="flush-collapseTwo-header">
                <i class="bi bi-bell position-relative"></i><span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" id="notification_number"></span>
            </button>
        </h2>
        <div id="flush-collapseTwo-header" class="accordion-collapse-header collapse" >
            <h6 class=" accord-read">
                       <i class="bi bi-envelope icon"></i> Notifications Unread
                </h6>
            <div id="unread_notifications" class="accordion-body">
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed accord-read" type="button" data-bs-toggle="collapse"
                            data-bs-target="#readNotifs" aria-expanded="false" aria-controls="readNotifs">
                       <i class="bi bi-envelope-open icon"></i> Notifications Read </button>
                </h2>
                <div id="readNotifs" class="accordion-collapse collapse ">
                    <div class="accordion-body ">
                       <div id="read_notifications" class="accordion-body">
            </div>
                    </div>

        </div>
    </div>
        </div>
    </div>

    <div class="profile" id="user_profile" data-id="{{ user.id }}">
        <i class="bi bi-person-circle"></i>
        {{ user.first_name }} {{ user.last_name }}
        <a href="/logout" data-toggle="tooltip" title="Logout" class="bi bi-box-arrow-right logout-logo"></a>
    </div>

</header>


