{% include 'components/super_header.html.jinja2' %}
<header class="site-header">
    <a href="/"><img src="{{ url_for("static", filename="img/logo.jpg") }}" alt="Logo du site" class="logo-site"></a>
    <nav class="navigation-site">
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/new_project">New project</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>

    <div class="col-2">

        <a href="/profile" class="logo-connexion margin-logo-logout">
            <img src="{{ url_for("static", filename="img/logo_user.jpg") }}" alt="Connexion">
        </a>
        <a href="/logout" data-toggle="tooltip" title="Logout" class="bi bi-box-arrow-right logout-logo"></a>

    </div>
</header>


