<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">

    <title> Task </title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for("static", filename="css/task_style.css") }}"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<body>
<div class="col-12">
    <div class="task__header">
        <h5 class="task__title">{{ title }}</h5>
    </div>
    <div class="description">
        <h6>Description</h6>
        <p class="task__description">{{ description }}</p>
    </div>
<div class="expire_container">
    {% if expires %}
        {% if has_expired %}
            <div class="late">
            <i class="bi bi-calendar2-x late"></i> {{ expires }}
            </div>
        {% endif %}
        {% if not has_expired %}
<i class="bi bi-calendar2-check time_ok"></i><span> {{ expires }}</span>
        {% endif %}
    {% endif %}
</div>
    <div class="progress-container">
        <div class="progress" role="progressbar" aria-label="task_progression" aria-valuenow="25" aria-valuemin="0"
             aria-valuemax="100">
            <div class="progress-bar bg-success" style="width: 25%">25%</div>
        </div>
    </div>
    <div class="working-team">
        <ul id="user-image">
            {% for user in users %}
                <li><img src="{{ user }}" alt="Description de l'image 1" class="small-image"></li>
            {% endfor %}
        </ul>
    </div>
</div>
</body>