<div class="col-12">
    <div class="task__header">
        <h6 class="task__title">{{ task.name }}</h6>
    </div>
    <div class="description">
    <div class="etiquette">
        {% for etiquette in task.etiquettes %}
        <span class="badge rounded-pill" data-bs-toggle="tooltip" title="{{etiquette.description}}" style="background-color:#{{etiquette.color if etiquette.color else "000000"}}">{{etiquette.label}}</span>
        {% endfor %}
    </div>
        <p class="task__description">{{ task.description }}</p>
    </div>
    <div class="expire_container row">
        {% if task.expires_message %}
            {% if task.has_expired %}
                <div class="late col-9">
                    <i class="bi bi-calendar2-x late"></i> {{ task.expires_message }}
                </div>
            {% endif %}
            {% if not task.has_expired %}
                <div class="col-9">
                <i class="bi bi-calendar2-check time_ok"></i><span> {{ task.expires_message }}</span>
                </div>
            {% endif %}
        {% endif %}
        {% if task.subtasks_total %}
            <div class="col-3"><i class="bi bi-clipboard-check"></i> <span
                    class="task_done">{{ task.subtasks_done }}/{{ task.subtasks_total }} </span></div>
        {% endif %}
    </div>
    {% if "progress" in task %}
        <div class="progress-container">
            <div class="progress" role="progressbar" aria-label="task_progression"
                 aria-valuenow="{{ task.progress }}" aria-valuemin="0"
                 aria-valuemax="100">
                <div class="progress-bar bg-success" style="width: {{ task.progress }}%">{{ task.progress }}%</div>
            </div>

        </div>
    {% endif %}
    <div class="working-team">
        <ul id="user-image">
            {% for user in users %}
                <li><img src="{{ user }}" alt="Description de l'image 1" class="small-image"></li>
            {% endfor %}
        </ul>
    </div>
</div>
