

<div class="messagepop" id="task_popup">
    <h5 id="form-label"></h5>
    <form method="post" id="new_task" action="/new_task">
        <div><i class="bi bi-card-checklist"></i> <label for="title"> Task title </label><input type="text"
                                                                                                class="form-control"
                                                                                                size="30" name="title"
                                                                                                id="title" required/>
        </div>
        <div><i class="bi bi-file-earmark-richtext"></i> <label for="body"> Description </label><textarea
                class="form-control" rows="3" name="description" id="description" cols="35"></textarea></div>


        <div><label for="end"> End date:</label>

            <input type="datetime-local" class="form-control" id="expires_on" name="task-end"/>
        </div>
        <p>
        <div class="progress-container">
            Tasks progression :
            <div class="progress" role="progressbar" aria-label="task_progression" aria-valuenow="25" aria-valuemin="0"
                 aria-valuemax="100">
                <div class="progress-bar bg-success" style="width: 25%">25%</div>
            </div>
        </div>
        <div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="subTask1">
  <label class="form-check-label" for="subTask1">
    Sub-task 1
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="subTask2">
  <label class="form-check-label" for="subTask2">
    Sub-task 2
  </label>
</div>
        </p>

        <div class="link"><a class="close btn btn-outline-danger" href="/">Cancel</a>

            <input type="submit" class="btn btn-outline-success button-right" value="Add task" name="commit"
                   id="task_form_submit"/></div>
    </form>
    <form id="delete_task" action="/delete_task" method="post">
        <button type="submit" name="delete" class="btn btn-danger">
            <i class="bi bi-trash3"></i> Delete
        </button>
    </form>
</div>
